@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .font-outline-1 {
        color: black;
        text-shadow:
         -1px -1px 0 #fff,  
          1px -1px 0 #fff,
          -1px 1px 0 #fff,
           1px 1px 0 #fff;
    }
    .font-outline-2 {
      color: white;
      text-shadow:
       -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
  }
    .font-outline-0 {
      text-shadow:
        0 0 0 #fff,  
        0 0 0 #fff,
        0 0 0 #fff,
        0 0 0 #fff;
  }
  .font-outline-thin {
    text-shadow:
    -0.5px -0.5px 0 #fff,  
    0.5px -0.5px 0 #fff,
    -0.5px 0.5px 0 #fff,
    0.5px 0.5px 0 #fff;
}
.font-outline-thin-dark {
  text-shadow:
  -0.5px -0.5px 0 #000,  
  0.5px -0.5px 0 #000,
  -0.5px 0.5px 0 #000,
  0.5px 0.5px 0 #000;
}
  }