@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .font-outline-1 {
        color: black;
        text-shadow:
         -1px -1px 0 #fff,  
          1px -1px 0 #fff,
          -1px 1px 0 #fff,
           1px 1px 0 #fff;
    }
    .font-outline-0 {
      color: rgba(255, 255, 255, 0);
      text-shadow:
        0 0 0 #fff,  
        0 0 0 #fff,
        0 0 0 #fff,
        0 0 0 #fff;
  }
  }