.card {
  background-color: transparent;
  width: 600px;
  height:800px;
  transform-style: preserve-3d;
}

.front {
    --a: 8deg; 
    transform:  skew(-5deg, 5deg) perspective(1000px) rotate3d(var(--r,1,-1),0,calc(var(--i,2)*var(--a)));
    -webkit-mask: 
      linear-gradient(135deg,#000c 50%,#000,#000c 60%)
      100% 100%/250% 250%;
    transition: .4s;
    max-height: 75dvh;
  position: absolute;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.back {
  --a: 8deg; 
  transform:  rotateX(180deg) skew(-5deg, 5deg) perspective(1000px) rotate3d(var(--r,-1,1),0,calc(var(--i,2)*var(--a)));
  -webkit-mask: 
    linear-gradient(135deg,#000c 50%,#000,#000c 60%)
    100% 100%/250% 250%;
  transition: .4s;
  max-height: 75dvh;
-webkit-backface-visibility: hidden; /* Safari */
backface-visibility: hidden;
}

.card:hover {
  --i: 0;
  -webkit-mask-position: 0 0;
}

.activeFront {
    --i: 20;
    rotate: -90deg;
    -webkit-mask-position: 0 0;
  }
  
.activeBack {
    --i: 20;
    rotate: 90deg;
    -webkit-mask-position: 0 0;
  }

